In [1]:
print('ko')

ko

In [9]:
def change_name(*name): 
    print('names are')
    for n in name:
        print ("My name is " + n + " and my age is " ) 
change_name('Hira','kathir','hi')

names are
My name is Hira and my age is
My name is kathir and my age is
My name is hi and my age is

In [17]:
k = 1
o = True
v = 'hi'
e = 2+3j
n = 2.2
ko = [1,2,3,4,5]
ko1 = (1,2,3,4,5,) 
dict ={
    "name": "ko",
    "age": 20,
}
set = {1,2,3,4,5}
print(type(k))
print(type(o))
print(type(v))
print(type(e))
print(type(n))
print(type(ko))
print(type(ko1))
print(type(dict))
print(type(set))

<class 'int'>
<class 'bool'>
<class 'str'>
<class 'complex'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [20]:
#arithmetic operator
x = 2+3
y = 2-3
z = 2*3
a = 2/3
b = 2%3
c = 2**3
d = 2//3
print(x)
print(y)
print(z)
print(a)
print(b)
print(c)
print(d)

#comparison operator
x =5 
y = 5
if x == y:
    print('yes')
else:
    print('no')

x =6 
y =5

if x != y:
    print('yes')
else:
    print('no')


if x >= y:
    print('yes')
else:
    print('no')

z =4

if x == y == z:
    print('z is 4')
else:
    print('no z is 4')


if x != y != z:
    print('yes')
else:
    print('no')

5
-1
6
0.6666666666666666
2
8
0
yes
yes
yes
no z is 4
yes

In [24]:
#logical operator
x = 5
y = 6
z = 7
if x == 5 and y == 6:
    print('yes')
else:
    print('no')

if x == 5 or y == 5:
    print('yes')
else:
    print('no')

if not x == 5:
    print('yes')
else:
    print('no')

yes
yes
no

In [34]:
#assignment operator

x = 5
y =4
x = x + y
print(x)
x *= y
print(x)

x //=y
print(x)

x **=y
print(x)

9
36
9
6561

In [40]:
#bitwise operator
x = 5
y = 4

print(x&y)
print(x|y)
print(x^y)
print(~x)
print(x<<y)
print(x>>y)

#identity operator
x = 5
y = 5
print(x is y)
print(x is not y)

#membership operator
x = [1,2,3,4,5]
if 1 in x:
    print('yes')
else:
    print('no')

4
5
1
-6
80
0
True
False
yes

In [50]:
x = [1,2,3,4,5]
if 2 in x:
    if 5 in x:
        print('yes')
elif 5 not in x:
    print('yes')
else:
    print('hi')

yes

In [57]:
n = 5
while n < 5:
    print(n+1)
    n += 1
else:
    print(n)


y = 6
for y in range(y):
    print(y)

while n <6:
    while n == 5:
        print(n)
        n += 1
        break
    else:
        print(n)

else:
    print('hi')


for y in range(y):
    for i in range(1,5):
        print(i*y)

5
0
1
2
3
4
5
5
hi
0
0
0
0
1
2
3
4
2
4
6
8
3
6
9
12
4
8
12
16

In [15]:
x = "love is god"
z = x.split(" ")
y = " ".join(z)
print(z)
print(y)
y = ' '.join(z[::-1])
print(y)

['love', 'is', 'god']
love is god
god is love

In [24]:
s1 = str(input())
s2 = str(input())
n = abs(len(s2) - len(s1)) 
if len(s1) < len(s2):
    print(s1 + "*" * n)
    print(s2)
elif len(s1) > len(s2):
    print(s1)
    print(s2 + "*" * n)
else:
    print(s1)
    print(s2)

hi****
hello\

In [21]:
n = abs(23 - 56)
print(n)
y = abs(2+3j)
print(y)

33
3.605551275463989

In [27]:
s = 'string'
print(s.upper())
print(s.lower())
print(s.title())
print(s.capitalize())
print(s)

STRING
string
String
String
string

In [28]:
def ko(name):
    print(f"this is {name}")

ko("kovendhan")

this is kovendhan

In [48]:
f = open("new.txt", "a")
f.write("\n this is new line")  # Move the cursor to the beginning of the file
f.close()

f= open("new.txt")
print(f.read())
f.close()

hi this is i'm
 this is new line
 this is new line
 this is new line
 this is new line
 this is new line
 this is new line
 this is new line

In [71]:
import os
import random 
n = random.randint(1,100)
if n >= 90:
    os.remove("new.txt")
    print('file removed')
else:
    print('try again')

file removed

In [72]:
try:
    f = open("new.txt")
    print(f.read())
    f.close()
except FileNotFoundError:
    print('sorry file not found')
finally:
    print('this is finally')

sorry file not found
this is finally

In [2]:
t,x=map(int, input().split())
r=[]
for i in range(1,t+1):
    if i%2==0:
        r.append(-i*x)
    else:
        r.append(i*x)
for i in range(len(r)):
    print(r[i],end=" ")

5 -10 15 -20 25 -30 35

In [ ]:
n=int(input())
l=list(map(int,input().split()))
k=int(input())
r=[]
for i in range(0,n,k):
    a=sum(l[i:i+k])/k
    r.append(f"{a:.2f}")

['8.00', '11.50']

In [15]:
class Student: 
    #Class Attribute species = 'humans' 
    # Initializer / Object Attributes 
    def __init__(self, name, age): 
        self.name = name 
        self.age = age 
        print("Student's name is " + name + " and age is " + str(age)) 
    def performance(self, grades): 
        self.grades = grades 
        print("The grade of student is: " + grades) 
class Girl(Student): 
    def __init__(self, name, age): 
        super().__init__(name, age) 
        print("Girl class is ready") 
    
    def whichclass(self): 
        print("This is Girls class which is a child class of Student class.") 
    
stu1 = Student("John", 16) 
stu1.performance("A+") 
stu2 = Student("Smith", 24) 
stu2.performance("B") 
print("\n") 
girl1 = Girl("Anna", 21) 
girl1.whichclass() 
girl1.performance("B")

Student's name is John and age is 16
The grade of student is: A+
Student's name is Smith and age is 24
The grade of student is: B


Student's name is Anna and age is 21
Girl class is ready
This is Girls class which is a child class of Student class.
The grade of student is: B